.button {
  font-size: .9em;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  border-radius: 50em;
  color: #fff;
  background-color: #eebb00;
  transition: box-shadow 0.2s;
  box-shadow: 0 1px 20px rgba(238, 187, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  
  &:hover {
    box-shadow: 0 1px 30px rgba(238, 187, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.4);
  }
}